*
{
    margin: 0;
    padding: 0;
}
h1
{
    text-align: center;
}
body{
    text-align: right;
}

form
{
    display:flex;
    flex-direction:column;
    height:20rem;
    
}
form input
{
    height:2rem ;
    border: none;
    padding: 1rem;
    background-color: rgb(210, 213, 214);
    width: 90%;
     margin:0.5rem;
}
form button
{
   
    width:91%;
    border: none;
    padding:1rem;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    width:95.2%;
     margin:0.5rem;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     border-radius: .5rem;
}
.login
{
    margin: auto;
    padding:1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 40rem;
   margin-top:10rem;
}
button
{
    width:91%;
    border: none;
    padding: 1rem;
    color: rgb(65, 64, 64);
    font-weight: bold;
    font-size: 1.5rem;
    width: 50%;
     margin:0.5rem;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     border-radius: .5rem;

}
h1{
    color:rgb(65, 64, 64);
}

.signup
{
    margin: auto;
    padding:1rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 40rem;
   margin-top:2rem;
   height: 90rem;
   font-size:0.7rem;
}
.signup form{
    display: flex;
    flex-direction: column;
    height:30rem;

}
.signup div{
    width: 100%;
}
.signup form input 
{
    height:.8rem ;
    border: none;
    border-radius:0.5rem;

    padding: 1rem;
    background-color: rgb(210, 213, 214);
     margin:0.5rem;
}
select{
    
    border: none;
    padding: 1rem;
    background-color: rgb(210, 213, 214);
     margin:0.5rem;
}
label{
      color: grey;
   
}
.signup button
{
    font-size: 1.2rem;
    border: none;
    padding: 1rem;
    background-color: rgb(185, 189, 190);
    box-shadow: none;
    
}

h3
{
    color:grey;
    position: relative;
   text-align:right;
   margin-right: 1rem;
}
.mobile 
{
    display: flex;
}
a
{
    text-decoration: none;
}

.back-login
{
    text-align: center;
    color:grey;
    font-weight: bold;
     text-decoration:none;
}
@media screen and (max-width:769px) {
    .login{
        width:90%
    }
    
}