*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root

{
    --maincolor:rgb(233, 233, 233);
}
body
{
    text-align:right;
    font-size: 1rem;
}

header{
  
    background-color:var(--maincolor);
}


ul 
{
  
    list-style:none;
    display: flex;

}
a{
  text-decoration: none;
}
 header ul li
{
    border-width:1px 1px 1px 0;
  border-style: solid ;
  padding:.9rem;
  width: 50%;
 
    
}

header img
{
    width:20px;
  
}





/* nav  */
#humb_icon
{
	margin: auto 0;
	display:none;
	cursor:pointer;
}

#humb_icon div
{
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;

}
.open .bar1
{
	-webkit-transition:rotate(-45deg) translate(-6px,6px);
	transform: rotate(-45deg) translate(-6px,6px );
}

.open .bar2
{
	opacity:0;
}

.open .bar3
{
	-webkit-transition:rotate(45deg) translate(-6px,-8px);
	transform: rotate(45deg) translate(-6px,-8px );
}

.open .mobile
{

	
	padding-top:30px;
	padding-left:10px;
	height:auto;
    width:50%;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content:flex-start;
	background-color:rgb(0,0,0,0.5);
	border-radius: 2rem;
	

}

.mobile
{
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	height: calc(100vh-50px);
	width: 100%;

}
.mobile li
{

	margin-bottom: 10px;
}
.logo
{
  width: 100%;
  display:flex;
}
.logo img
{
  width: 9rem;
  height:9rem;
 
}
.logo input
{
 padding: 1rem;
 margin: 1rem;
 height: 3rem;
 align-self: flex-end;
 
}
.basket
{
  background-color: grey;
  border-radius:5rem;
  margin: 1rem;
  padding: 1rem;
  width:4rem;
 
}
/************* end nav*******************/

/*********** Slider ****************/



/***************  category***********************/
.main
{
  display: grid;
  grid-template-columns:3fr 1fr;
  margin: 3rem;
}
.main ul li
{
  padding: 1rem;
 margin-left:auto;
}

.category img
{
 margin: .2rem;
  width:80px;

}
.cat-title
{
  display:flex;
  border:3px solid olivedrab;
  border-radius: .5rem;
  justify-content: end;
}
.cat-title h2
{
  
 color :olivedrab;
  border-radius: .5rem;
  align-self:center;
  margin: .5rem;
}
.cat-result
{
  margin-top: 1rem;
  


}
.cat-result h1
{
  background-color: olivedrab;
border-radius: 0.5rem 0.5rem 0 0;
  color: aliceblue;
  padding:0.5rem;
  font-size:1.5rem;
}
.cat-result div
{
  background-color: rgb(205, 230, 236);
  color: rgb(40, 40, 41);
  padding:0.5rem;
  font-size:1.5rem;
}



/****************FOOTER*********************/

footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(24, 25, 26);
    color: honeydew;
}
footer ul 
{
    display: block;
}
footer h1
{
    
    border-bottom: solid 0.02px white;
    width: 70%;
    font-size:1.57rem;
    margin-left: auto;
}
footer ul li 
{
    list-style: none;
    margin: 1rem;
padding-left: 1rem;
}

button
{
    font-size: 1rem;
    padding:.5rem;
    color:rgb(73, 73, 73);
    background-color: honeydew;
    margin:0rem 0rem 1rem 2rem;
    border-radius: 0.6rem;
}



input{
    padding:0.5rem;
    width: 100%;
    margin-top:1rem;
   
}
.footer-input
{
   background-color: rgb(54, 54, 54);
   border-radius: 1rem;
   height: all;
   margin: 1vw;
   text-align: left;
   
}









/***********  RESPONSIVE   ***********/



@media only screen and (max-width: 768px)
{

 

header nav
	{
		display: none;
	}

	#humb_icon
	{
		display: block;
	}
    


}





